*.psd filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
.vs/project/CopilotIndices/17.13.430.18484/CodeChunks.db filter=lfs diff=lfs merge=lfs -text
.vs/project/CopilotIndices/17.13.430.18484/SemanticSymbols.db filter=lfs diff=lfs merge=lfs -text
.vs/project/v17/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
